<div class="article">
	<h1 class="article-title"><%= article.title %></h1>
	<article class="article-body"><%= article.body %></article>
	<div class="article-comments">
		<%# Use comment view? %>
	</div>
	<%#
	OTHER ATTRIBUTES TO CONSIDER:
	- Author
	- Publication date
	- Categories/tags
	%>
</div>
