<div class="main">
    <div class="wrapper">
        <%- include('../../block/left/block-left', { module: 'navigation/navigation' }) %>
        <%- include('../../block/middle/block-middle', { module: page.template}) %>
        <%- include('../../block/right/block-right', { module: 'empty/empty' }) %>
    </div>
</div>