<form method="GET" target="/search" class="form form-search">
    <input type="text" name="query" class="form-text form-search-text" />
    <button type="submit" class="form-button form-search-button">Search</button>
</form>