<form method="GET" action="/search" class="form form-search">
    <input type="text" name="query" placeholder="Search" class="form-text form-search-query" />
    <button type="submit" class="form-button form-search-submit">
        <span class="form-search-submit-label">Search</span>
        <i class="fa fa-search"></i>
    </button>
</form>