<div class="toolbar toolbar-bottom">
    <%- include('../../block/left/block-left', { module: 'contact/contact' }) %>
    <%- include('../../block/middle/block-middle', { module: 'empty/empty' }) %>
    <%- include('../../block/right/block-right', { module: 'empty/empty' }) %>
</div>