<div class="toolbar toolbar-top">
    <%- include('../../block/left/block-left', { module: 'site-title/site-title' }) %>
    <%- include('../../block/middle/block-middle', { module: 'form/search/form-search' }) %>
    <%- include('../../block/right/block-right', { module: 'empty/empty' }) %>
</div>